@use "../abstracts" as *;

.newsletter-section {
  width: min(100%, 58rem);
  background-color: hsl(var(--clr-neutral-100));
  min-height: 100svh;

  @media screen and (min-width: 48em) {
    @include flex(row-reverse);
    min-height: auto;
    border-radius: 2.2rem;
  }
}

.newsletter-illustration {
  width: 100%;
  height: 55.5svh;
  background-image: url("/assets/images/illustration-sign-up-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  @media screen and (min-width: 48em) {
    width: 50%;
    height: 38rem;
    margin: 1.5rem;
    background-image: url("/assets/images/illustration-sign-up-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
  }
}

.newsletter-details {
  margin-inline: auto;
  padding: var(--fluid-details-pb) var(--fluid-details-pi);
  padding-inline-end: 2rem;
  color: hsl(var(--clr-neutral-400));

  @media screen and (min-width: 48em) {
    margin-block-start: 3rem;
  }

  &__heading,
  &__description {
    margin-block-end: 1.5rem;
  }

  &__features {
    margin-block-end: 3.7rem;
    @include flex(column);
    gap: 0.625rem;

    &--1,
    &--2,
    &--3 {
      @include flex;
      gap: 1rem;
      &::before {
        content: url(/assets/images/icon-list.svg);
      }
    }
  }

  &__form {
    position: relative;
    @include flex(column, stretch);
    gap: 1.5rem;
    & .emailaddress {
      position: absolute;
      font-size: 0.75rem;
      font-weight: var(--fw-bold);
      top: -1.3rem;
    }

    & label {
      color: hsl(var(--clr-neutral-200));
      position: absolute;
      left: 6.5%;
      top: 15%;
      opacity: 1;
      cursor: text;
      transition: all 0.3s;
    }

    & .email-input {
      padding: 1.2rem var(--fluid-input-pi);
      border: 1px solid hsl(var(--clr-neutral-200));
      border-radius: 8px;
    }

    & .email-input:focus-visible {
      border-color: hsl(var(--clr-neutral-400));
    }

    & .email-input:focus + label {
      transform: translateY(-3rem);
      opacity: 0;
    }
    & .email-input__error:focus + label {
      transform: translateY(-3rem);
      opacity: 0;
    }
  }
}

.error-msg {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-primary));
  position: absolute;
  right: 0;
  top: -1.3rem;
}
