@use "../abstracts" as *;

.flex-col {
  @include flex(column);
}

.success-message {
  max-width: 30rem;
  margin-inline: auto;
  padding: 2rem 3rem;
  background-color: hsl(var(--clr-neutral-100));
  border-radius: 2rem;
  gap: 1.5rem;

  @media screen and (max-width: 26.5625em) {
    border-radius: 0;
    min-height: 100svh;
  }

  &__heading {
    color: hsl(var(--clr-neutral-400));
  }

  &__desc {
    line-height: 1.5;
    color: hsl(var(--clr-neutral-300));
  }

  &__btn {
    align-self: stretch;
  }
}

.success-email {
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-neutral-400));
}
